@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/ClashDisplay-Semibold.woff2") format("woff2");
  font-weight: 600;
}

@import "tailwindcss";
@import "../styles/typography.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-primary: #4640DE;
  --color-secondary: #26A4FF;
  --color-border: #E5E7EB;
  --color-text: #7C8493;
  --color-nav: #515B6F;

  --color-heading: #25324B;
  
  --font-epilogue: var(--font-epilogue);
  --font-clash: "ClashDisplay", sans-serif;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
 
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-epilogue);
}
